<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
                style="padding: 0px 30px 0px 0px;">
                NEWSHORE AIR
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/search-route-flights" class="nav-link px-2 text-white" _msthash="1633541" _msttexthash="136006">Inicio</a>
                </li>
                <li><a href="/destinations" class="nav-link px-2 text-white" _msthash="1633723"
                        _msttexthash="95589">Destinos</a>
                </li>
            </ul>
        </div>
    </div>
</header>