<div class="wrapperJounrey">
    <div class="row">
        <div class="col-md-5">
            <div class="wrapperCity">
                <label>{{origen}}</label>
            </div>
        </div>
        <div class="col-md-2" style="text-align: center;padding: 19px;">
            <label>{{vuelo}}</label>
            <i class="fa-sharp fa-solid fa-plane icon"></i>
            <label style="font-weight: 600;">Precio: </label>
            <label>{{precio | currency: this.cop}}</label>
        </div>
        <div class="col-md-5">
            <div class="wrapperCity">
                <label>{{destino}}</label>
            </div>
        </div>
    </div>
</div>